@inject MeetupService MeetupService
@inject NavigationManager NavigationManager

<CascadingValue Value="this">
    <TabControl>
        <TabPage Text="Create Teams">
            <EditForm Model="team" OnValidSubmit="@OnSubmit">
                <InputText @bind-Value="@team.Name" placeholder="Name of Team" />

                <button>Create Team</button>
            </EditForm>
            @foreach (Team t in Teams)
            {
                <div class="flex">
                    <div class="avatar mr-2" style='background-image: url(@t.TeamAvatarSettings.AvatarUrl); background-size:
                @(t.TeamAvatarSettings.Size
                + "%"); background-position:
                @(@t.TeamAvatarSettings.Left + "%") @(@t.TeamAvatarSettings.Top + "%");'>
                    </div>
                    <div @onclick="()=>GoToTeamAvatar(t.Id)">@t.Name</div>
                    <div @onclick="()=>DeleteTeam(t)">Delete Team</div>
                </div>
            }
        </TabPage>

        <TabPage Text="Assign Users">
            <AssignTo />
        </TabPage>
    </TabControl>
</CascadingValue>

@code {
    [Parameter]
    public string EventId { get; set; }
    public List<Team> Teams { get; set; } = new();
    public Team team = new();

    public void GoToTeamAvatar(String teamId)
    {
        NavigationManager.NavigateTo("/AddAvatar/" + teamId);
    }

    protected override void OnInitialized()
    {
        Teams = MeetupService.GetTeamsByEventId(EventId);

    }

    public void OnSubmit()
    {
        team.Id = Guid.NewGuid().ToString();
        team.EventId = EventId;
        MeetupService.CreateTeam(team);
        MeetupService.AddTeamAvatarSettings(new TeamAvatarSettings
        {
            TeamId = team.Id,
            AvatarUrl = "/avatars/blank-profile.webp",
            Left = 0,
            Top = 0,
            Size = 100,
            AvatarIdentification = "default"
        });

        Teams = MeetupService.GetTeamsByEventId(EventId);
        team = new Team();
        StateHasChanged();
    }

    public void DeleteTeam(Team t)
    {
        MeetupService.DeleteTeam(t);
        Teams = MeetupService.GetTeamsByEventId(EventId);
        StateHasChanged();
    }
}
