@page "/AvailableUsers/{eventId}/{id}"
@inject MeetupService MeetupService
@inject NavigationManager NavigationManager
@inject MeetupService MeetupService
@inject IJSRuntime IJSRunTime

<h3>Available Users</h3>
@if (DbUserId != null)
{
    <ul>
        @foreach (Attendee iu in iul)
        {
            if (iu.AvatarSettings != null)
            {
                <li @key="iu.Id">
                    <div class="avatar"
            style='background-image: url(@iu.AvatarSettings.AvatarUrl); background-size: @(iu.AvatarSettings.Size + "%"); background-position: @(iu.AvatarSettings.Left + "%") @(iu.AvatarSettings.Top + "%");'>
                    </div>
                    <div>@iu.UserName</div>
                </li>
            }
        }
    </ul>

    @if (DbUserId == sd.AttendeeId)
    {
        <button @onclick="()=>DeleteSuggestedDate(sd.Id)">Delete Suggest Date</button>
    }
    <button @onclick="GoBack">Go Back</button>
    @if (DbUserId == EventObj.AttendeeId)
    {
        <button @onclick="()=>AddOfficialTime(sd.Id)">Make this the official time</button>
    }
}

@code
{
    [CascadingParameter(Name = "DbUserId")]
    public string DbUserId { get; set; }

    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string eventId { get; set; }
    public List<Attendee> iul = null;
    SuggestedDate sd { get; set; }
    public Event EventObj { get; set; }


    protected override void OnInitialized()
    {
        EventObj = MeetupService.GetEventById(eventId);
        sd = MeetupService.GetSuggestedDateById(id);
        iul = MeetupService.GetAvailableUsers(id);
    }

    public void DeleteSuggestedDate(string id)
    {
        MeetupService.DeleteSuggestedDateById(id);
        NavigationManager.NavigateTo("/");
    }

    public void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }

    public void AddOfficialTime(string id)
    {
        MeetupService.MakeSuggestedDateOfficial(id, EventObj.Id);
        IJSRunTime.CreateMessage("You've successfully made an official date");
    }
}
