@inject MeetupService MeetupService
@inject IJSRuntime IJSRunTime

@page "/EditAvatar"

<EditForm Model="@avatarSettings">
    <div class="form-item">
        @*https://stackoverflow.com/questions/58222480/change-variable-value-on-input-key-press-on-blazor*@
        <label>Adjust image left or right</label>
        <input type="number" value=@avatarSettings.Left
            @oninput="(e) => avatarSettings.Left = Int32.Parse(e.Value.ToString())" />
    </div>

    <div class="form-item">
        <label>Adjust image top or bottom</label>
        <input type="number" value=@avatarSettings.Top
            @oninput="(e) => avatarSettings.Top = Int32.Parse(e.Value.ToString())" />
    </div>

    <div class="form-item">
        <label>Adjust scaling of image</label>
        <input type="number" value=@avatarSettings.Size
            @oninput="(e) => avatarSettings.Size = Int32.Parse(e.Value.ToString())" />
    </div>

    <div class="avatar my-2"
        style='width:60px; height:60px; background-image: url(@avatarSettings.AvatarUrl); background-size: @(avatarSettings.Size + "%"); background-position: @(avatarSettings.Left + "%") @(avatarSettings.Top + "%");'>

    </div>
    <button @onclick="SubmitAvatarSettings">Submit Avatar Settings</button>
</EditForm>
@code {


    [Parameter]
    public string TeamId { get; set; }
    [CascadingParameter(Name = "DbUserId")]
    public string DbUserId { get; set; }
    public AvatarSettings avatarSettings { get; set; }
    public TeamAvatarSettings teamAvatarSettings { get; set; }

    protected override void OnParametersSet()
    {
        if (DbUserId == null) return;

        if (avatarSettings == null)
        {
            avatarSettings = MeetupService.GetAvatarSettingsByUserId(DbUserId);
        }
        if (TeamId == null) return;
        if (teamAvatarSettings == null)
        {
            teamAvatarSettings = MeetupService.GetAvatarSettingsByTeamId(TeamId);

        }
        base.OnParametersSet();
    }

    public void SubmitAvatarSettings()
    {
        if (avatarSettings != null)
        {
            MeetupService.UpdateAvatarSettings(avatarSettings);
            IJSRunTime.CreateMessage("You've successfully updated an avatar");
        }

    }
}
