@inject MeetupService MeetupService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<Attendee> UserManager
<style>
    #divimg {
        width: @(width + "px");
        height: @(height + "px");
        border-radius: 50%;
        border: @(borderThickness + "px") black solid;
        background-repeat: no-repeat;
        background-color: #1fe0;
        background-size: @(size + "%");
        background-position: @(@left + "%") @(@top + "%");
    }
</style>


<h3>EditAvatar</h3>
<div>
    @*https://stackoverflow.com/questions/58222480/change-variable-value-on-input-key-press-on-blazor*@
<label>Adjust image left or right</label>
<input type="number" value=@left @oninput="(e) => left = Int32.Parse(e.Value.ToString())" />
</div>
<div>
    <label>Adjust image top or bottom</label>
    <input type="number" value=@top @oninput="(e) => top = Int32.Parse(e.Value.ToString())" />
</div>

<div>
    <label>Adjust scaling of image</label>
    <input type="number" value=@size @oninput="(e) => size = Int32.Parse(e.Value.ToString())" />
</div>


<div>
    <label>Adjust width and height of div</label>
    <p>See what avatar will look like in various sizes</p>
    <input type="number" value=@width @oninput="(e) => width = heightAndWidthAdjustment(Int32.Parse(e.Value.ToString()))" />
</div>


<div id="divimg" style="background-image: url(@AvatarUrl);">

</div>
<button @onclick="SubmitAvatarSettings">Submit Avatar Settings</button>
@code {
    public int left { get; set; }
    public int top { get; set; }
    public int size { get; set; } = 75;

    public int width { get; set; } = 60;
    public int height { get; set; } = 60;

    public double borderThickness { get; set; } = 1;
    public AvatarSettings avatarSettings { get; set; } = new();
    public Attendee DbUser { get; set; }

    public string AvatarUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState user = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        DbUser = await UserManager.GetUserAsync(user.User);
        avatarSettings = MeetupService.GetAvatarSettingsByUserId(DbUser.Id);
    }


    int heightAndWidthAdjustment(int width)
    {
        if (width < 15) borderThickness = .2;
        if (width > 15) borderThickness = 1;
        if (width > 100) borderThickness = 2;
        height = width;
        return height;
    }

    public void SubmitAvatarSettings()
    {

        avatarSettings.Size = size;
        avatarSettings.Top = top;
        avatarSettings.Left = left;
        avatarSettings.AvatarUrl = AvatarUrl;
        MeetupService.UpdateAvatarSettings(avatarSettings);
        avatarSettings = new();
    }
}
