@page "/EventPage/{userId}/{id}"
@using BlazorMeetup.Data
@inject UserManager<Attendee> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject MeetupService MeetupService
@inject UserManager<Attendee> UserManager
@inject NavigationManager NavigationManager


<CascadingValue Value="this">
    <TabControl>
        <TabPage Text="Main">
            <h3 class="mx-2">Event Details</h3>
            @pageEvent.DateAndTime
            <h3 class="mt-4 font-medium">Attendees</h3>
            @foreach (AttendeeEvent ae in pageEvent.Attendees)
            {
                if (ae.Attendee.AvatarSettings != null)
                {
                    @if (ae.AttendeeId == LoggedInUser.Id)
                    {
                        @if (ae.CanAttendProposedDate == true)
                        {
                            <div class="attendees" @key="ae.Id">
                                <div class="avatar"
                    style="background-image: url(@ae.Attendee.AvatarSettings.AvatarUrl); background-size: @(ae.Attendee.AvatarSettings.Size + "%"); background-position: @(ae.Attendee.AvatarSettings.Left + "%") @(ae.Attendee.AvatarSettings.Top + "%");">
                                </div>
                                <div>@ae.Attendee.UserName</div>
                                <input type="checkbox" checked value="@ae.CanAttendProposedDate" @onchange="() => OnChange(ae.Id)">
                                <div style="display:inline" @onclick="Leave">leave</div>
                            </div>
                        }
                        else
                        {
                            <div class="attendees" @key="ae.Id">
                                <div class="avatar"
                    style="background-image: url(@ae.Attendee.AvatarSettings.AvatarUrl); background-size: @(ae.Attendee.AvatarSettings.Size + "%"); background-position: @(ae.Attendee.AvatarSettings.Left + "%") @(ae.Attendee.AvatarSettings.Top + "%");">
                                </div>
                                <div>@ae.Attendee.UserName</div>
                                <input type="checkbox" value="@ae.CanAttendProposedDate" @onchange="() => OnChange(ae.Id)">
                                <div style="display:inline" @onclick="Leave">leave</div>
                            </div>
                        }
                    }
                    else
                    {
                        @if (ae.CanAttendProposedDate)
                        {
                            <div class="attendees" @key="ae.Id">
                                <div class="avatar"
                    style="background-image: url(@ae.Attendee.AvatarSettings.AvatarUrl); background-size: @(ae.Attendee.AvatarSettings.Size + "%"); background-position: @(ae.Attendee.AvatarSettings.Left + "%") @(ae.Attendee.AvatarSettings.Top + "%");">
                                </div>
                                <div>@ae.Attendee.UserName</div>
                            </div>
                        }
                        else
                        {
                            <div @key="ae.Id" class="attendees">
                                <div class="avatar"
                    style="background-image: url(@ae.Attendee.AvatarSettings.AvatarUrl); background-size: @(ae.Attendee.AvatarSettings.Size + "%"); background-position: @(ae.Attendee.AvatarSettings.Left + "%") @(ae.Attendee.AvatarSettings.Top + "%");">
                                </div>
                                <div>@ae.Attendee.UserName</div>
                            </div>
                        }
                    }
                }
            }
            <div class="mt-7">
                @if (!MeetupService.AttendeeEventExists(LoggedInUser.Id, Id))
                {
                    <button @onclick="() => JoinEvent()">I'm Interested</button>
                }
                <div class="font-light" @onclick="() => GoBack()">Go back to user's list</div>
            </div>
        </TabPage>

        <TabPage Text="Suggest a time for available dates">
            <SuggestDate LoggedInId="@LoggedInUser.Id" />
        </TabPage>

        @if (LoggedInUser.Id == UserId)
        {
            <TabPage Text="Assign User To Teams">
                <AssignTeams EventId=@Id />
            </TabPage>
        }
        else
        {
            <TabPage Text="See who is on which team">
                <ShowTeams />
            </TabPage>
        }
    </TabControl>
</CascadingValue>
@code {


    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public string Id { get; set; }
    public Event pageEvent { get; set; }
    Attendee LoggedInUser { get; set; }

    protected override void OnParametersSet()
    {
        pageEvent = MeetupService.GetEventById(Id);
    }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        LoggedInUser = await UserManager.GetUserAsync(auth.User);
    }

    void GoBack()
    {
        NavigationManager.NavigateTo("/UserEvents/" + UserId);
    }

    void JoinEvent()
    {
        MeetupService.JoinEvent(LoggedInUser.Id, Id);
        pageEvent = MeetupService.GetEventById(Id);
        StateHasChanged();
    }

    void Leave()
    {
        MeetupService.LeaveEvent(LoggedInUser.Id, Id);
        pageEvent = MeetupService.GetEventById(Id);
        StateHasChanged();
    }

    void OnChange(string id)
    {
        MeetupService.ChangeCanAttendInitialDate(id);
    }

}
