@page "/"
@using System.Security.Claims;
@using System.Diagnostics
@using Microsoft.AspNetCore.Identity;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<Attendee> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject MeetupService MeetupService

<div id="index" class="w-1/4 m-1">
    <h1>Hello, world!</h1>


    Welcome to your new app.
    <AuthorizeView>
        <NotAuthorized>
            <a href="Identity/Account/Login">Log in</a>
        </NotAuthorized>
        <Authorized>
            <a href="#">Hello, @context.User.Identity.Name!</a>
            <a href="Identity/Account/Logout">Log out</a>
            <div class="lg-avatar "
                style='background-image: url(@asettings.AvatarUrl); background-size: @(asettings.Size + "%"); background-position: @(@asettings.Left + "%") @(@asettings.Top + "%");'>

            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    ClaimsPrincipal User { get; set; }
    List<Claim> Claims { get; set; }
    Attendee DbUser { get; set; }
    AvatarSettings asettings { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;

        if (User.Identity.IsAuthenticated)
        {
            DbUser = await UserManager.GetUserAsync(User);
            asettings = MeetupService.GetAvatarSettingsByUserId(DbUser.Id);
            if (DbUser != null && asettings == null)
            {
                if (User.FindFirstValue("urn:discord:avatar:url") != null)
                {
                    string userURL = User.FindFirstValue("urn:discord:avatar:url");
                    MeetupService.AddAvatarSettings(new AvatarSettings
                    {
                        AttendeeId = DbUser.Id,
                        AvatarUrl = userURL,
                        Left = 0,
                        Top = 0,
                        Size = 100
                    });
                }
                else
                {
                    string userURL = User.FindFirstValue("urn:discord:avatar:url");
                    MeetupService.AddAvatarSettings(new AvatarSettings
                    {
                        AttendeeId = DbUser.Id,
                        AvatarUrl = "/avatars/blank-profile.webp",
                        Left = 0,
                        Top = 0,
                        Size = 100
                    });
                }
                asettings = MeetupService.GetAvatarSettingsByUserId(DbUser.Id);
            }
        }
    }
}
