@using BlazorMeetup.Data
@using System.Globalization
@inject MeetupService MeetupService;

<h3 class="mx-2">Event Details</h3>

<div>
    <label class="font-semibold">Length of Event:</label>
    @CurrentEvent.Hours &zwnj;<label>Hours</label> and @CurrentEvent.Minutes <label>Minutes</label>
</div>


@if (@CurrentEvent?.SuggestedDate?.DateTime != null && @CurrentEvent?.SuggestedDate?.RestrictDate != null)
{
    <div>
        <label class="font-semibold">Official Time and date:</label>
        @CurrentEvent.SuggestedDate.RestrictDate.Date.ToString("M/dd/yyyy", CultureInfo.InvariantCulture)
        @CurrentEvent.SuggestedDate.DateTime.ToString("hh:mm", CultureInfo.InvariantCulture)
    </div>

}
<h3 class="mt-4 font-medium">Attendees</h3>
@foreach (AttendeeEvent ae in CurrentEvent.Attendees)
{
    if (ae.Attendee.AvatarSettings != null)
    {
        @if (ae.AttendeeId == DbUserId)
        {

            <div class="attendees" @key="ae.Id">
                <div class="avatar"
        style="background-image: url(@ae.Attendee.AvatarSettings.AvatarUrl); background-size: @(ae.Attendee.AvatarSettings.Size + "%"); background-position: @(ae.Attendee.AvatarSettings.Left + "%") @(ae.Attendee.AvatarSettings.Top + "%");">
                </div>
                <div>@ae.Attendee.UserName</div>
                <div style="display:inline" @onclick="Leave">leave</div>
            </div>

        }
        else
        {
            <div class="attendees" @key="ae.Id">
                <div class="avatar"
        style="background-image: url(@ae.Attendee.AvatarSettings.AvatarUrl); background-size: @(ae.Attendee.AvatarSettings.Size + "%"); background-position: @(ae.Attendee.AvatarSettings.Left + "%") @(ae.Attendee.AvatarSettings.Top + "%");">
                </div>
                <div>@ae.Attendee.UserName</div>
            </div>
        }
    }
}
<div class="mt-7">
    @if (!MeetupService.AttendeeEventExists(DbUserId, CurrentEvent.Id))
    {
        <button @onclick="() => JoinEvent()">I'll go at this date and time</button>
    }

    @if (DbUserId == CurrentEvent.AttendeeId)
    {

        <p class="text-xs" @onclick="() => EditEvent()">Edit this Event</p>
    }

</div>
@code {
    [Parameter]
    public Event CurrentEvent { get; set; }
    [CascadingParameter(Name = "DbUserId")]
    public string DbUserId { get; set; }
    [CascadingParameter(Name = "IndexPage")]
    public Index IndexPage { get; set; }

    void Leave()
    {
        MeetupService.LeaveEvent(DbUserId, CurrentEvent.Id);
        CurrentEvent = MeetupService.GetEventById(CurrentEvent.Id);
        StateHasChanged();
    }

    void JoinEvent()
    {
        MeetupService.JoinEvent(DbUserId, CurrentEvent.Id);
        CurrentEvent = MeetupService.GetEventById(CurrentEvent.Id);
        StateHasChanged();
    }

    void EditEvent()
    {
        IndexPage.EventId = CurrentEvent.Id;
        IndexPage.TabControlRef.ActivatePageByText("Create Event");
    }

}