@inject MeetupService MeetupService
@inject TeamsUpdateService TeamsUpdateService
@implements IDisposable



<h3>ShowTeams</h3>
<div style="width: 18rem; min-height: 140px;">

    <div>
        Users
    </div>
    <ul>
        @foreach (Attendee a in AttendeesWithoutTeams)
        {
            if (a.AvatarSettings != null)
            {
                <li>
                    <div>
                    </div>
                    <div>@a.UserName</div>
                </li>
            }

        }
    </ul>
</div>

@foreach (Team t in Teams)
{
    <div style=" width: 18rem; min-height: 140px; ">
        <div>
            @t.Name
        </div>
        <ul>
            @foreach (TeamAttendee ta in t.Attendees)
            {
                if (ta.Attendee.AvatarSettings != null)
                {
                    <li>
                        <div class="avatar"
                style="background-image: url(@ta.Attendee.AvatarSettings.AvatarUrl); background-size: @(ta.Attendee.AvatarSettings.Size + "%"); background-position: @(ta.Attendee.AvatarSettings.Left + "%") @(ta.Attendee.AvatarSettings.Top + "%");">
                        </div>
                        <div> @ta.Attendee.UserName</div>
                    </li>
                }

            }
        </ul>
    </div>
}

@code {
    [CascadingParameter]
    EventPage eventPage { get; set; }
    List<Team> Teams { get; set; }
    List<Attendee> AttendeesWithoutTeams { get; set; }

    Func<Task> myDelegate { get; set; }


    protected override void OnInitialized()
    {
        myDelegate = async () => await InvokeAsync(() =>
        {
            this.UpdateTeamsWithMeetupService();
            this.UpDateAttendeesWithoutTeams(); this.StateHasChanged();
        });
        TeamsUpdateService.AddEvent(eventPage.pageEvent.Id, myDelegate);

        UpdateTeamsWithMeetupService();
        UpDateAttendeesWithoutTeams();
        base.OnInitialized();
    }

    void UpDateAttendeesWithoutTeams()
    {
        AttendeesWithoutTeams = MeetupService.GetAttendeesWithoutTeams(eventPage.pageEvent.Id);
    }

    void UpdateTeamsWithMeetupService()
    {
        Teams = MeetupService.GetTeamsByEventId(eventPage.pageEvent.Id);
    }

    public void Dispose()
    {
        TeamsUpdateService.RemoveDelegate(eventPage.pageEvent.Id, myDelegate);
    }
}
