<h3>Suggest Date</h3>
@inject MeetupService MeetupService
@inject IJSRuntime IJSRunTime
@inject NavigationManager NavigationManager
<EditForm Model=@tm OnValidSubmit="@SuggestADate">
    <select @bind="@tm.Hours">
        @foreach (int num in tm.GetHours())
        {
            <option value="@num">@num</option>
        }
    </select>
    <select @bind="@tm.Minutes">
        @foreach (int num in tm.GetMinutes())
        {
            <option value="@num">@num</option>
        }
    </select>
    <select @bind="@tm.Date">
        @foreach (RestrictDate rd in SafePage.RestrictDates)
        {
            <option value="@rd.Date">@rd.Date.ToString()</option>
        }
    </select>
    <button>Suggest a date and time</button>
</EditForm>


@foreach (SuggestedDate sd in SafePage.SuggestedDates)
{
    @if (CanAttend(sd))
    {
        <div @onclick="()=>SeeAvailableUser(sd)" @key="sd.Id">@sd.DateTime @sd.Attendee.UserName  <input type="checkbox" @onclick:stopPropagation="true" checked @onchange="() => RemoveSuggestedDateFromAttendee(sd)"></div>
    }
    else
    {
        <div @onclick="()=>SeeAvailableUser(sd)" @key="sd.Id">@sd.DateTime @sd.Attendee.UserName  <input type="checkbox" @onclick:stopPropagation="true" @onchange="() => AddSuggestedDateToAttendee(sd)"></div>
    }
}


@code {
    [Parameter]
    public Event PageEvent { get; set; }
    [Parameter]
    public string LoggedInId { get; set; }
    SuggestedDate suggested = new SuggestedDate();
    [Parameter]
    public string Id { get; set; }
    public Event SafePage;
    TimeMaker tm = new TimeMaker();


    bool CanAttend(SuggestedDate sd)
    {
        bool b = MeetupService.CanAttend(sd, LoggedInId);
        return b;
    }

    public void SeeAvailableUser(SuggestedDate sd)
    {
        NavigationManager.NavigateTo("/AvailableUsers/" + sd.Id);
    }


    public void RemoveSuggestedDateFromAttendee(SuggestedDate sd)
    {
        MeetupService.RemoveSuggestedDateFromAttendees(sd, LoggedInId);
    }

    public void AddSuggestedDateToAttendee(SuggestedDate sd)
    {
        MeetupService.AddSuggestedDateToAttendees(sd, LoggedInId);
    }

    protected override void OnInitialized()
    {
        SafePage = PageEvent;
        suggested.EventId = PageEvent.Id;
        suggested.AttendeeId = LoggedInId;
    }

    void SuggestADate()
    {
        DateTime d = tm.MakeTime();
        suggested.DateTime = d;
        MeetupService.SuggestDate(suggested);
        IJSRunTime.CreateMessage("You've successfully suggested a new date.");
        SafePage = MeetupService.GetEventById(PageEvent.Id);
        tm = new TimeMaker();
        StateHasChanged();
    }
}
