<h3>Suggest Date</h3>
@inject MeetupService MeetupService
@inject IJSRuntime IJSRunTime
@inject NavigationManager NavigationManager
<EditForm Model=@suggested OnValidSubmit="@SuggestADate">
    <InputDate @bind-Value="suggested.DateTime" />
    <button>Suggest a date and time</button>
</EditForm>


@foreach (SuggestedDate sd in PageEvent.SuggestedDates)
{
    @if (CanAttend(sd))
    {
        <div @onclick="()=>SeeAvailableUser(sd)" @key="sd.Id">@sd.DateTime @sd.IdentityUser.UserName  <input type="checkbox" @onclick:stopPropagation="true" checked @onchange="() => RemoveSuggestedDateFromAttendee(sd)"></div>
    }
    else
    {
        <div @onclick="()=>SeeAvailableUser(sd)" @key="sd.Id">@sd.DateTime @sd.IdentityUser.UserName  <input type="checkbox" @onclick:stopPropagation="true" @onchange="() => AddSuggestedDateToAttendee(sd)"></div>
    }

}


@code {
    [Parameter]
    public Event PageEvent { get; set; }
    [Parameter]
    public string LoggedInId { get; set; }
    SuggestedDate suggested = new SuggestedDate();
    [Parameter]
    public string Id { get; set; }


    bool CanAttend(SuggestedDate sd)
    {
        bool b = MeetupService.CanAttend(sd, LoggedInId);
        return b;
    }

    public void SeeAvailableUser(SuggestedDate sd)
    {
        NavigationManager.NavigateTo("/AvailableUsers/" + sd.Id);
    }


    public void RemoveSuggestedDateFromAttendee(SuggestedDate sd)
    {
        MeetupService.RemoveSuggestedDateFromAttendees(sd, LoggedInId);
    }

    public void AddSuggestedDateToAttendee(SuggestedDate sd)
    {
        MeetupService.AddSuggestedDateToAttendees(sd, LoggedInId);
    }

    protected override void OnInitialized()
    {
        suggested.EventId = PageEvent.Id;
        suggested.IdentityUserId = LoggedInId;
    }

    void SuggestADate()
    {
        MeetupService.SuggestDate(suggested);
        IJSRunTime.CreateMessage("You've successfully suggested a new date.");
    }
}
