@page "/Users"
@inject MeetupService MeetupService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<h3>Users</h3>

<table>
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Attendee iu in AllUsers)
        {
            if (iu.AvatarSettings != null)
            {
                <tr @key="iu.Id" @onclick="()=>GoToPage(iu.Id)">
                    <td>
                        <div class="avatar"
                    style='background-image: url(@iu.AvatarSettings.AvatarUrl); background-size: @(iu.AvatarSettings.Size + "%"); background-position: @(iu.AvatarSettings.Left + "%") @(iu.AvatarSettings.Top + "%");'>
                        </div>
                    </td>
                    <td>
                        @iu.UserName
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@code {
    List<Attendee> AllUsers { get; set; }
    protected override void OnInitialized()
    {

        AllUsers = MeetupService.GetAllUsers();
    }
    void GoToPage(string id)
    {
        NavigationManager.NavigateTo("/UserEvents/" + id);
    }
}
