@page "/YourServers"
@attribute [Authorize]
@inject MeetupService MeetupService
@inject NavigationManager NavigationManager
@using BlazorMeetup.Data
@using System.Linq

<table>
    <thead>
        <tr>
            <th>Servers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string serverId in serverIdsWithUserEvents)
        {
            <tr @onclick='() => ToggleEvents(serverId)'>
                <td>@serverEventDictionary[serverId].Server.Name
                    <ul class="ml-5">
                        @if (serverEventDictionary[serverId].EventsShown)
                        {
                            @foreach (Event ev in serverEventDictionary[serverId].EventsInServerWithUser)
                            {
                                <li @onclick='()=> GoToEventPage(ev.Id)'>@ev.Description</li>
                            }
                            @foreach (Event ev in serverEventDictionary[serverId].EventsInServerWithoutUser)
                            {
                                <li @onclick='()=> GoToEventPage(ev.Id)'>@ev.Description</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
        <hr class="border">
        @foreach (string serverId in serverIdsWithEventsNoUser)
        {
            <tr @onclick='() => ToggleEvents(serverId)'>
                <td>@serverEventDictionary[serverId].Server.Name
                    <ul class="ml-5">
                        @if (serverEventDictionary[serverId].EventsShown)
                        {
                            @foreach (Event ev in serverEventDictionary[serverId].EventsInServerWithoutUser)
                            {
                                <li @onclick='()=> GoToEventPage(ev.Id)'>@ev.Description</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
        <hr class="border">
        @foreach (string serverId in serverIdsWithoutEvents)
        {
            <tr>
                <td>@serverEventDictionary[serverId].Server.Name</td>
            </tr>
        }
        <hr>
    </tbody>
</table>


@code
{
    [CascadingParameter(Name = "DbUserId")]
    public string DbUserId { get; set; }
    [CascadingParameter(Name = "IndexPage")]
    public Index IndexPage { get; set; }

    public List<Server> Servers { get; set; }

    public Dictionary<string, InternalHelperClass> serverEventDictionary = new();

    public string EventId { get; set; } = "";

    List<string> serverIdsWithUserEvents = new();
    List<string> serverIdsWithEventsNoUser = new();
    List<string> serverIdsWithoutEvents = new();


    protected override void OnParametersSet()
    {
        if (DbUserId == null) return;
        if (Servers != null) return;

        Servers = MeetupService.GetServersByUserId(DbUserId);

        InternalHelperClass.MeetupService = MeetupService;
        InternalHelperClass.DbUserId = DbUserId;

        foreach (var server in Servers)
        {
            serverEventDictionary.Add(server.Id, new InternalHelperClass(server));
            serverEventDictionary[server.Id].AddEvents();
        }
        GetOrderedServerIds();

        StateHasChanged();
    }


    public void GoToEventPage(string id)
    {
        IndexPage.GoToEventPage(id);
    }

    void ToggleEvents(string id)
    {
        serverEventDictionary[id].EventsShown = !serverEventDictionary[id].EventsShown;
    }

    public void GetOrderedServerIds()
    {
        List<Event> Events = MeetupService.GetYourEvents(DbUserId);

        serverIdsWithUserEvents = Events.GroupBy(x => x.Server.Id).Select(x => x.Key).ToList();
        serverIdsWithEventsNoUser = Servers.Where(x => !serverIdsWithUserEvents.Any(y => x.Id ==
        y)).Where(x => x.Events.Count > 0).Select(x => x.Id).ToList();
        serverIdsWithoutEvents = Servers.Where(x => x.Events.Count == 0).Select(x => x.Id).ToList();
    }

    public class InternalHelperClass
    {
        public static string DbUserId { get; set; }
        public static MeetupService MeetupService { get; set; }
        public Server Server { get; }
        public bool EventsLoaded { get; set; } = false;
        public bool EventsShown { get; set; } = false;

        public List<Event> EventsInServerWithUser { get; set; }
        public List<Event> EventsInServerWithoutUser { get; set; }

        public InternalHelperClass(Server s)
        {
            Server = s;
        }

        public void AddEvents()
        {
            List<Event> eventsInServer = Server.Events.ToList();
            EventsInServerWithUser = eventsInServer.Where(x => x.AttendeeId == DbUserId).ToList();
            EventsInServerWithoutUser = eventsInServer.Where(x => !(x.AttendeeId == DbUserId)).ToList();
        }
    }
}
